
.App {
  text-align: left;
  background-color: #130b23;
  color: white;
  /* background-image: linear-gradient(to bottom right, rgb(17, 6, 58) , rgb(55, 42, 129)); */
  /* color: white; */
  /* height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.links{
  text-decoration: none;
  color: inherit;
}

.service-form {
  width: 50%;
  margin: 3rem auto;
  padding-bottom: 100px;
}
.h-1{
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0px;
  height: 30px;
  margin-top: auto;
  width: 100%;
  color: #fff;
  background-color: #4076D2;
}
.main {
  width: 80%;
  margin: 10px auto;
}
.main-content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .service-form {
    width: 100%;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 600px) {
  .service-form {
    width: 100%;
    margin: 3rem auto;
  }
}